<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="MathsGradeAssessmentTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="MathsGradeAssessmentTool.Properties.Settings.MathsToolDatabaseConnectionString"
      connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\MathsToolDatabase.mdf;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <MathsGradeAssessmentTool.Properties.Settings>
      <setting name="EmailIdE" serializeAs="String">
        <value />
      </setting>
      <setting name="PasswordE" serializeAs="String">
        <value />
      </setting>
      <setting name="isLockedSet" serializeAs="String">
        <value>True</value>
      </setting>
    </MathsGradeAssessmentTool.Properties.Settings>
  </userSettings>
</configuration>